<!DOCTYPE html>
<html>

<head>
    <title>
        <%= noticia ? "Editar" : "Nova" %> Notícia
    </title>
</head>

<body>
    <h1>
        <%= noticia ? "Editar" : "Nova" %> Notícia
    </h1>

    <form action="<%= noticia ? '/noticias/' + noticia.id + '?_method=PUT' : '/noticias' %>" method="POST">

        <label>Título:</label>
        <input type="text" name="titulo" value="<%= noticia ? noticia.titulo : '' %>" required>
        <br><br>

        <label>Conteúdo:</label>
        <textarea name="conteudo" required><%= noticia ? noticia.conteudo : '' %></textarea>
        <br><br>

        <button type="submit">Salvar</button>
    </form>

    <a href="/noticias">Voltar</a>
</body>

</html>